.topContainer {
  width: 100%;
  height: 250px;
  align-items: center;
  justify-content: center;
  display: flex;
  border-top-left-radius: 20px;
  border-top-right-radius: 20px;
  background-color: lightgray;
  @media only screen and (max-width: 700px) {
    display: block;
  }
}

.leftContainer {
  width: 50%;
  display: flex;
  justify-content: center;
  @media only screen and (max-width: 700px) {
    width: 100%;
  }
}
.rigthContainer {
  width: 50%;
  display: flex;
  justify-content: center;
  @media only screen and (max-width: 700px) {
    width: 100%;
  }
}

.mainFont {
  font-size: 40px;
  font-family: "Mochiy Pop P One";
  color: red;
  @media only screen and (max-width: 700px) {
    font-size: 32px;
  }
}

.logo {
  height: 100px;
  width: 100px;
  @media only screen and (max-width: 700px) {
    height: 65px;
    width: 65px;
  }
}

.contract {
  background-image: linear-gradient(to right, red, darkred);
  color: white;
  width: 100%;
  height: 50px;
  margin-right: 50px;
  border-radius: 20px;
  font-family: "Mochiy Pop P One";
  border-color: lightgray;
  text-align: center;

  @media only screen and (max-width: 700px) {
    margin-right: 0px;
  }
}
.contractText {
  width: 100%;
  font-size: 14px;
  text-wrap: wrap;
  @media only screen and (max-width: 700px) {
    font-size: 8px;
  }
}
